*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero__section{
    background: url(images/heroSectionBackground.png);
    background-size: cover;
    background-position: center;
    color: white;
    height: 60vh;
    transition: 2ms; 
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 16px 48px;
}

.navbar a{
    color: white;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
}

.navbar .menu__container{
    display: flex;
    gap: 29px;
}

.navbar .menu__container .user__icon{
    height: 28px;
    width: 28px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: solid white 2px;
    display: none;
}

.hero__section__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    height: calc(60vh - 60px);
    padding: 10px;
}

.hero__section__logo{
    width:260px;
}

.hero__section__title{
    font-weight: 400;
    font-size: 30px ;
    text-align: center;
}

.hero__section__input__container{
    background: white;
    width:60%;
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    gap:10px;
    padding: 10px;
}

.input__container__location,
.input__container__search{
    border: none;
    padding: 10px;
    outline: none;
}

.input__container__location{
    width: 35%;
    border-right: 2px solid #e0e0e0;
}

.input__container__search{
    width: 65%;
}

@media only screen and (max-width:600px){
    .navbar .menu__container .user__icon{
        display: flex;
    }

    .link{
        display: none;
    }

    .hero__section{
        height: 80vh;
    }

    .navbar{
        padding: 16px ;
    }

    .hero__section__input__container{
        background: transparent;
        flex-direction: column;
        width:100%;
    }
  
    .input__container__location,
    .input__container__search{
        padding: 10px;
        border-radius: 5px;
        width: 95%;
    }

    .hero__section__container{
        height: calc(80vh -60px);
    }

    .hero__section__title{
        font-size: 20px;
        width: 95%;
    }
}

.container{
    margin: 3rem auto;
    width:90%;
}

.we__offer{
    display: flex;
    flex-wrap: wrap;
    gap: 1.3rem;
    justify-content: center;
    align-items: center;

}

.we__offer__card{
    border-radius: 15px;
    overflow: hidden;
    border: solid 1px #e0e0e0;
    transition: all 0.3s ease;
    cursor: pointer;
}

.we__offer__card:hover{
    transform: scale(1.05);
}

.we__offer__card img{
    width: 280px;
    height:170px;
    object-fit: cover;
    object-position: center;
}

.we__offer__content{
    padding: 10px;
}

.we__offer__content h2{
    font-size: 20px;
    font-weight: 400;
}

.we__offer__content p{
    font-size: 12px;
}

.collections h1{
    font-weight: 600;
}

.collections .sub__heading__container{
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem ;
    flex-wrap: wrap;
}

.sub__heading__container span:nth-child(2) a{
    color: #ff7e8b;
    font-size: 13px;
    text-decoration:none;
}

.collections__card__container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1.5rem;
}

.collections__card__container .card{
    height: 300px;
    min-width: 240px;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
    position: relative;
}

.card1{
    background-image: url(images/collection1.jpg);
}

.card2{
    background-image: url(images/collection2.jpg);
}

.card3{
    background-image: url(images/collection3.jpg);
}

.card4{
    background-image: url(images/collection4.jpg);
}

.overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    border-radius: 10px;
    background: linear-gradient(
    0deg,
    rgba(0,0,0,0.9) 0%,    
    rgba(0, 0, 0, 0.05) 50%,    
    rgba(0,0,0,0.05) 85%   
    ); 
}

.collections__card__container .card .content{
    position: absolute;
    left:0px;
    bottom:0px;
    color: white;
    padding: 12px 16px;
    font-size: 0.9rem;
}

.collections__card__container .card .content h4{
    font-weight: 400;
    letter-spacing: 0.5px;
}

.get__the__app{
    background-color: rgb(255,252,247);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 3rem 6rem;
}

.get__the__app .semiContainer{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap; 
}

.get__the__app .semiContainer .left{
    flex: 2;
}

.get__the__app .semiContainer .left img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.get__the__app .semiContainer .right{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.right h1{
    font-weight: 400;
    font-size: 2rem;
}

.right p{
    font-size: 0.8rem;
}

.semiContainer .right .radio__button__container{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.semiContainer .right .radio__button__container div{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.semiContainer .right .radio__button__container div input{
    height: 15px;
    width: 15px;
    accent-color: rgb(239,79,95);
}

.semiContainer .right .input__container{
    display: flex;
    gap: 0.5em;
    flex-wrap: wrap;
}

.input__container button,
.input__container input{
    padding: 10px 12px;
}

.input__container input{
    flex:auto;
    border: 1.5px solid gray;
    outline: none;
    border-radius: 5px;
}

.input__container button{
    border: none;
    background-color: rgb(239,79,95);
    color: white;
    border-radius: 5px ;
    cursor: pointer;
}

.download__app__container{
    display: flex;
    flex-direction: column;
    gap:0.7rem;
}

.download__app__container h5{
    color: gray;
    font-weight: 400;
}
.download__app__container div{
    display: flex;
    gap: 1rem;
}

.download__app__container div img{
    width: 35%;
}

@media only screen and (max-width: 900px){
    .get__the__app {
        padding: 2rem;
    }

    .get__the__app .semiContainer{
        width: 90%;
    }
}

@media only screen and (max-width: 700px){
    .get__the__app {
        padding: 3rem 0;
    }

    .get__the__app .semiContainer{
        width: 80%;
        flex-direction: column;
    }
}

.footer{
    width: 100%;
    background-color: rgba(236, 234, 234, 0.459);
}

.footer__section1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 20px auto;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.footer__section1 img{
    width: 140px;
}

.footer__section1 .section1__buttonContainer{
    display: flex;
    gap: 25px;
}
.footer__section1 button{
    padding: 7px 7px;
    background-color: white;
    border-radius: 6px;
    border: solid gray 0.5px;
    cursor: pointer;
}

.navigation__container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 90%;
    margin: 20px auto; 
    gap: 1rem;
    padding: 10px;
    
}

.link__container{
    display: flex;
    flex-direction: column;
    gap: 5px;
    letter-spacing: 0.5px;
}

.link__container h5{
    font-weight: 500;
    font-size:14px ;
}

.footer__link{
    color: gray;
    text-decoration: none;
    font-weight: 300;
    font-size: 12px;
}

.footer__link:hover{
    color: black;
}

.social__icons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    gap: 10px;
}

.social__icons button{
    color: white;
    background-color: black;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    padding: 7px;
    
    
}

.footer__logo{
    width: 100%;
}

.disclamer{
    width: 90%;
    margin: auto;
    font-weight: 200;
    font-size: small;
    border-top: solid rgb(150, 149, 149) 0.5px;
    padding: 20px;
}

@media only screen and (max-width: 900px){
    .navigation__container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 600px){
    .navigation__container{
        grid-template-columns: 1fr 1fr ;
    }
}

@media only screen and (max-width: 350px){
    .navigation__container{
        grid-template-columns: 1fr ;
    }
}